---
import { Button, Icon } from 'astro-pure/user'
import { cn } from 'astro-pure/utils'
import PageLayout from '@/layouts/BaseLayout.astro'
import { integ } from '@/site-config'

import DocsContents from './DocsContents.astro'

const meta = {
  title: 'Home Lab',
  description: 'Home Lab Documentation'
}
---

<PageLayout {meta}>
  <Button title='Back' href='/' variant='back' />
  <main class='mt-6 lg:mt-10'>

    <div id='content' class={cn('animate mt-8 max-w-none md:min-w-[45ch]', integ.typography.class)}>
      <h2 class='text-xl font-medium'>Home Lab Documentation</h2>
      <DocsContents title={false} />

      <p>
        <a href='/lab/rss.xml' target='_blank'><Icon name='rss' /> </a>
      </p>
    </div>
  </main>
</PageLayout>
