---
import { Image } from 'astro:assets'
import { Quote } from 'astro-pure/advanced'
import { PostPreview } from 'astro-pure/components/pages'
import { getBlogCollection, sortMDByDate } from 'astro-pure/server'
import { Button } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'
import Section from '@/components/home/Section.astro'
import config from '@/site-config'

const MAX_POSTS = 10
const allPosts = await getBlogCollection()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)
---

<PageLayout meta={{ title: 'Home' }} highlightColor='#659EB9'>
  <main class='flex w-full flex-col items-center'>

    <!-- Your full-height hero -->
    <section
      class='animate flex flex-col items-center gap-y-7 min-h-screen justify-center -mt-14'
      id='content-header'
    >
      <Image
        src="/avatar.png"           
        alt="Profile"
        width={208}
        height={208}
        class='h-52 w-auto rounded-full border p-1'
        loading='eager'
        fetchpriority='high'
      />

      <div class='flex flex-col items-center gap-y-4'>
        <h1 class='text-3xl font-bold'>{config.author}</h1>
      </div>

      <!-- Your contact button -->
      <a
        href='/about#social-networks'
        class='flex flex-row items-center gap-x-3 rounded-full border bg-background px-4 py-2 text-sm shadow-sm transition-shadow hover:shadow-md'
      >
        <span class='relative flex items-center justify-center'>
          <span
            class='absolute size-2 animate-ping rounded-full border border-green-400 bg-green-400 opacity-75'
          ></span>
          <span class='size-2 rounded-full bg-green-400'></span>
        </span>
        <p class='font-medium text-muted-foreground'>Contact & Profiles</p>
      </a>
    </section>

    <div id='content' class='animate flex flex-col gap-y-10 md:w-4/5 lg:w-5/6'>

      <Section title='About'>
        <p class='text-muted-foreground'>Penetration Tester</p>
        <p class='text-muted-foreground'>
          I specialize in Web, API, and Active Directory penetration testing, focusing on practical offensive security and real-world exploitation techniques. I am currently an Associate Security Analyst at Roche, where I perform application security assessments to identify vulnerabilities and help secure critical systems.
        </p>
        <Button title='More about me' class='w-fit self-end' href='/about' variant='ahead' />
      </Section>

      {
        allPostsByDate.length > 0 && (
          <Section title='Posts'>
            <ul class='flex flex-col gap-y-1.5 sm:gap-y-2'>
              {allPostsByDate.map((p) => (
                <li class='flex flex-col gap-x-2 sm:flex-row'>
                  <PostPreview post={p} />
                </li>
              ))}
            </ul>
            <Button title='More posts' class='w-fit self-end' href='/blog' variant='ahead' />
          </Section>
        )
      }

    </div>

    <Quote class='mt-12' />

  </main>
</PageLayout>