---
import { Button, Icon } from 'astro-pure/user'
import { cn } from 'astro-pure/utils'
import PageLayout from '@/layouts/BaseLayout.astro'
import { integ } from '@/site-config'

import DocsContent from './DocsContent.astro'

const meta = {
  title: 'Portswigger-Labs',
  description: 'PortSwigger Labs writeups showcasing hands-on solutions to web application security challenges, covering various techniques and vulnerabilities.'
}
---

<PageLayout {meta}>
  <Button title='Back' href='/' style='back' />
  <main class='mt-6 lg:mt-10'>
    <div id='content-header' class='animate'>
      <h1 class='mb-6 text-3xl font-medium'>Portswigger-Labs</h1>
    </div>

    <div id='content' class={cn('animate mt-8 max-w-none md:min-w-[45ch]', integ.typography.class)}>
      <h2 class='text-xl font-medium'>Explore the journey</h2>
      <DocsContent title={false} />
      <p>
        <a href='/portswigger-labs/rss.xml' target='_blank'><Icon name='rss' /> </a>
      </p>
    </div>
  </main>
</PageLayout>
